body {
 background-color:#222222;
 font-family:sans-serif;
}

h1 {
 color:#bb0022;
 font-size:2em;
}

p {
 color:#eeeeee;
}

a:link {color:#CCCCCC;}
a:visited {color:#CCCCCC;}
a:hover {color:#EEEEEE;}
a:active {color:#FFFFFF;}

#header {
 position:absolute;
 top:4px;
 left:4px;
 right:4px;
 height:100px;
 border-bottom: 2px solid #1A1A4D;
 background-color:#4444BB;
 font-size:3em;
}

#main {
 position:absolute;
 top:150px;
 left:40px;
 bottom:150px;
 background-color:#222222;
 border-radius: 4px;
}

#footer {
 position:fixed;
 bottom:0px;
 height:50px;
 width:100%;
 border-top: 2px solid #1A1A4D;
 background-color:#4444BB;
 font-size:1em;
}
