body {
 background-color:#111111;
}

h1 {
 color:#aa0022;
}

p {
 color:#eeeeee;
}

#header {
 position:absolute;
 top:0px;
 left:0px;
 width:100%;
 border-bottom: 1px solid #1A1A4D;
 background-color:#222288
}

#main {
 position:absolute;
 top:40px;
 left:25px;
 background-color:#222222;
 border-radius: 4px;
}
